.character-box {
  @apply grid justify-center items-center border-solid border-2 border-black w-full h-full aspect-square;

  .character-box__text {
    @apply font-black text-4xl;
  }

  &.not-used {
    @apply transition-all duration-[2000ms] bg-gray-500;
    transform: rotateX(360deg);
    animation: bg-fade 1s;
  }

  &.incorrect-location {
    @apply transition-all duration-[2000ms] bg-yellow-400;
    transform: rotateX(360deg);
    animation: bg-fade 1s;
  }

  &.correct-location {
    @apply transition-all duration-[2000ms] bg-green-500;
    transform: rotateX(360deg);
    animation: bg-fade 1s;
  }

  &.invalid {
    animation: border-fade 4s, shake 0.5s;
  }
}

@keyframes bg-fade {
  0% {
    @apply bg-transparent;
  }
  90% {
    @apply bg-transparent;
  }
}

@keyframes border-fade {
  0% {
    @apply border-red-300;
  }
  100% {
    @apply border-black;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
